/* ---- Dashboard ---- */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Ubuntu', sans-serif;
}

:root {
	--blue: #287bff;
	--white: #fff;
	--grey: #f5f5f5;
	--black1: #222;
	--black2: #999;
}

body {
	min-height: 100vh;
	overflow-x: hidden;
}

.container{
	position: relative;
	width: 100%;
}

.navigation {
	position: fixed;
	width: 300px;
	height: 100%;
	background: var(--blue);
	border-left: 10px solid var(--blue);
	transition: 0.5s;
	overflow: hidden;
}

.navigation.active {
	width: 80px;
}

.navigation ul{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.navigation ul li {
	position: relative;
	width: 100%;
	list-style: none;
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
}

.navigation ul li:hover,
.navigation ul li.hovered{
	background: var(--white);
}

.navigation ul li:nth-child(1){
	margin-bottom: 40px;
	pointer-events: none;
}

.navigation ul li a {
	position: relative;
	display: block;
	width: 100%;
	display: flex;
	text-decoration: none;
	color: var(--white);
}

.navigation ul li:hover a ,
.navigation ul li.hovered a {
	color: var(--blue);
}

.navigation ul li a .icon {
	position: relative;
	display: block;
	min-width: 60px;
	height: 60px;
	line-height: 70px;
	text-align: center;
}

.navigation ul li a .icon ion-icon {
	font-size: 1.75em;
}

.navigation ul li a .title {
	position: relative;
	display: block;
	padding: 0 10px;
	height: 60px;
	line-height: 60px;
	text-align: start;
	white-space: nowrap;
}

/* ---- Customer Detail Form ---- */
.card-header{
    background-color:rgb(164, 110, 252);
}

.form-label{
    color: rgb(46, 42, 73);
    font-weight: bold;
}

.btn-outline-ss {
    color: rgb(164, 110, 252);
    border-color: rgb(164, 110, 252);
}

.btn-outline-ss:hover {
    background-color: rgb(164, 110, 252);
    color: #fff;
}

.btn-group{
    margin-left: 20%;
}

.btn{
    font-weight: bold;
}


/* ---- Customer Table ---- */
.CustomerTable{
    height: 350px;
    overflow-y: auto;
}

.bg-success {
    background-color: rgb(164, 110, 252) !important;
}
.text-white {
    color: white !important;
}



/* ---- Item Table ---- */
.ItemTable{
    height: 350px;
    overflow-y: auto;
}

.table{
    height: 200px;
    overflow-y: auto;
}



